
<div class="col-10 offset-1 about">
    <h1>About splurty</h1>
    <p> Splurty was copied from a coding bootcamp hosted by the U of A. It was re-created by <a target=_blank href="#">Bronson Valiquet Myers</a>, who currently has a headache. </p>
</div>

<div class="row">
    <div class="col-12 col-sm-4" >
        <%= image_tag 'cover.jpg', class: 'img-fluid', :style=>"border-radius: 35%" %>
    </div>
    <div class= "col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center">Bronson Valiqet Myers</h2>
        <br />
        <p>
            Bronson Valiquet Myers is a web developer based in Tucson, Arizona. His cat's name is Oso.
        </p>
    </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />